body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.card-body {
  background: #1e293b;
  padding: 20px;
  border-radius: 20px;
}

.estado {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 15px;
}

.seguro {
  background: green;
}

.perdido {
  background: red;
}

h2 {
  margin: 10px 0;
}

.btn {
  display: block;
  margin: 10px 0;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  border: none;
}

.llamar {
  background: #22c55e;
}

.veterinaria {
  background: #8b5cf6;
}

.mapa {
  background: #3b82f6;
}

.alerta {
  background: #ef4444;
}
